VITE_SITE_API_URL=http://localhost:3000
VITE_PANEL_API_URL=http://localhost:3000
VITE_PANEL_LOGIN_PATH=/auth/login
VITE_PANEL_ME_PATH=/auth/me
VITE_PANEL_LOGOUT_PATH=/auth/logout
VITE_PANEL_USERS_PATH=/users
VITE_PANEL_USER_DETAIL_PATH=/users/:id
VITE_PANEL_USER_UPDATE_PATH=/users/:id
VITE_PANEL_USER_DELETE_PATH=/users/:id
VITE_PANEL_ADMIN_TESTIMONIALS_PATH=/admin/testimonials
VITE_PANEL_ADMIN_TESTIMONIAL_DETAIL_PATH=/admin/testimonials/:id
VITE_PANEL_ADMIN_TESTIMONIAL_PUBLISH_PATH=/admin/testimonials/:id/publish
VITE_PANEL_ADMIN_TESTIMONIAL_FEATURE_PATH=/admin/testimonials/:id/feature
VITE_PANEL_ADMIN_CLIENTS_PATH=/admin/clients
VITE_PANEL_ADMIN_CLIENT_DETAIL_PATH=/admin/clients/:id
VITE_PANEL_ADMIN_CLIENT_UPDATE_PATH=/admin/clients/:id
VITE_PANEL_ADMIN_CLIENT_PUBLISH_PATH=/admin/clients/:id/publish
VITE_PANEL_ADMIN_CLIENT_FEATURE_PATH=/admin/clients/:id/feature
